/**
 * Table of Contents:
 *
 * 1.0 - Titles
 * 2.0 - Dividers
 * 3.0 - Quotes
 * 4.0 - Drop Caps
 * 5.0 - Call Out
 * 6.0 - List
 * 7.0 - Preformatted Text
 * 8.0 - Info Message
 * 9.0 - Slogan
 * 10.0 - Single Image
 * 11.0 - Image Text
 * 12.0 - Tables
 *    12.1 - Pricing Table
 * 13.0 - Box
 * 14.0 - Accordion & Toggles
 * 15.0 - Tabs
 * 16.0 - Progress Bars
 * 17.0 - Carousel
 * 18.0 - Testimonial
 * 19.0 - Slider
 * 20.0 - Map
 * 21.0 - Media
 * 22.0 - Gallery
 *    22.1 - Gallery Stamp
 * 23.0 - Isotope
 * 24.0 - Blog
 * 25.0 - Portfolio
 * 26.0 - Form
 * 27.0 - Comments
 * 28.0 - Team
 * 29.0 - Partners
 * 30.0 - Widgets
 * 31.0 - Media Queries
 * ----------------------------------------------------------------------------
 */


 /**
 * 1.0 - Titles
 * ----------------------------------------------------------------------------
 */
 
/* Title With Line */
.grve-title-line {
	position: relative;font-size: 12px;
	overflow: hidden;
	/*line-height: 2.5;*/
	padding: 0;
}
.grve-single-post h1 { line-height:1.1 }
/*.grve-title-line:after*/,
.grve-align-center.grve-title-line:before,
.grve-align-right.grve-title-line:before {
	content: "";
	width: 200%;
	display: inline-block;font-size: 12px;
	margin: 0 -200% 0 0;
	position: relative;
	left: 2%;
	border-top: 1px solid;
	vertical-align: middle;
}

.grve-align-center.grve-title-line:before,
.grve-align-right.grve-title-line:before {
	left: 0;
	margin: 0 2% 0 -202%;font-size: 12px;
}

.grve-align-center.grve-title-line:after {
	width: 80px;
	margin: 0 -80px 0 2%;font-size: 12px;
	left: 0;
}

.grve-align-center.grve-title-line:before {
	width: 80px;
	margin: 0 2% 0 -80px;font-size: 12px;
}


/* Title With Double Line */
.grve-title-double-line {
	position: relative;font-size: 12px;
	overflow: hidden;
	line-height: 1.5;
	padding: 0;
}

.grve-title-double-line:after,
.grve-align-center.grve-title-double-line:before,
.grve-align-right.grve-title-double-line:before {
	content: "";
	width: 200%;
	height: .15em;
	display: inline-block;
	margin: 0 -200% 0 0;
	position: relative;font-size: 12px;
	left: 2%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	vertical-align: middle;
}

.grve-align-center.grve-title-double-line:before,
.grve-align-right.grve-title-double-line:before {
	left: 0;
	margin: 0 2% 0 -202%;font-size: 12px;
	width: 200%;
}

.grve-align-center.grve-title-double-line:after {
	width: 80px;
	margin: 0 -80px 0 2%;font-size: 12px;
	left: 0;
}

.grve-align-center.grve-title-double-line:before {
	width: 80px;
	margin: 0 2% 0 -80px;font-size: 12px;
}


/* Title With striped Line */
.grve-title-striped {
	position: relative;
	overflow: hidden;
	line-height: 1.5;font-size: 12px;
	padding: 0;
}

.grve-title-striped:after,
.grve-align-center.grve-title-striped:before,
.grve-align-right.grve-title-striped:before {
	content: "";
	width: 200%;
	height: 0.5em;
	background: url(../images/graphics/striped.png) repeat;
	display: inline-block;
	margin: 0 -200% 0 0;
	position: relative;font-size: 12px;
	left: 2%;
	vertical-align: middle;
}

.grve-align-center.grve-title-striped:before,
.grve-align-right.grve-title-striped:before {
	left: 0;
	margin: 0 2% 0 -202%;font-size: 12px;
}

.grve-align-center.grve-title-striped:after {
	width: 80px;
	margin: 0 -80px 0 2%;font-size: 12px;
	left: 0;
}

.grve-align-center.grve-title-striped:before {
	width: 80px;
	margin: 0 2% 0 -80px;font-size: 12px;
}