@charset "utf-8";
/* CSS Document */

.banner_bawah{
	background-color:#fff;
	padding:20px;
	border-radius: 10px;
	    box-shadow: 1px 1px 3px 0px rgba(133, 133, 133, 1);	
	
	/*border-top:solid 8px #9D4746;*/
}

.link-content{
	background-color:#fff;
	padding:20px;
	border-radius: 10px;
	    box-shadow: 1px 1px 3px 0px rgba(133, 133, 133, 1);	
}

.link-content a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}

.link_bawah a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}

.content_foother{
	color:#474747;
	background-color:#5AB33F;
	font-size:11px;
	
	padding:10px 0px 0px 0px;
}

#foother{
		
	color:#FFF;
	padding:15px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color: #262626;
}
.content_foother #judul_content{
	color:#474747;text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;font-weight:bold;
}

.content_foother #judul_content span{
	color:#474747;
}

.content_foother label{
	color:#fff;
}