@charset "utf-8";

/* CSS Document */



@font-face {

    font-family: MTCORSVA;

    src: url(font/MTCORSVA.TTF);

}



.header{

	background:#fff;		

	-moz-box-shadow: 0px 0px 5px 5px #000;

	-webkit-box-shadow: 0px 0px 5px 5px #000;

	box-shadow: 0px 0px 5px 5px  #000;-moz-box-shadow: 0px 0px 5px 5px #000;

	-webkit-box-shadow: 0px 0px 5px 5px #000;

	box-shadow: 0px 0px 5px 5px  #000;



}



.navbar-inverse {

    background-image: -webkit-linear-gradient(top, #E90401 0%, #840604 100%);

    background-image: -o-linear-gradient(top, #E90401 0%, #840604 100%);

    background-image: -webkit-gradient(linear, left top, left bottom, from(#E90401), to(#840604));

    background-image: linear-gradient(to bottom, #E90401 0%, #840604 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffE90401', endColorstr='#ff840604840604', GradientType=0);

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    background-repeat: repeat-x;

    border:none;

    border-radius: 0;

}



.navbar-inverse .navbar-brand {

    color: #fff;

}



.navbar-inverse .navbar-nav > li > a {

    color: #E3E3E3;

}



.link_header{

	background:#F3BD11;

}



.link_header .title{

	font-family:arial;

	font-weight:600;

	font-size:19px;

	color:#FFF;

}



.link_header .title1{

	font-family:arial;

	font-weight:600;

	font-size:32px;

	color:#FFF;

}



.isi_header a{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	font-weight:600;

	padding-right:15px;

	padding-top:20px;

	color:#17AE20;

}



.isi_header{

	padding-top:10px;

	padding-bottom:10px;

}



.isi_header .form-pencarian{

	margin-top:10px;

	padding:10px;

	/*border:solid 1px #ccc;

	

	border-radius:10px 10px 10px 10px;

	-moz-border-radius:10px 10px 10px 10px;

	-webkit-border-radius:10px 10px 10px 10px;	*/

}



.isi_header .form-pencarian input{

	float:left;

	margin:0px;

	padding:10px;

	width:650px;

	

	border:solid 1px #ccc;

	border-right:none;

	

	border-radius:10px 0px 0px 10px;

	-moz-border-radius:10px 0px 0px 10px;

	-webkit-border-radius:10px 0px 0px 10px;

}



.isi_header .form-pencarian select{

	float:left;

	margin:0px;

	padding:11px;

	

	border:solid 1px #ccc;

	border-right:none;

	border-left:none;

}



.isi_header .form-pencarian .btn-search{

	border:solid 1px #CCCCCC;

	border-left:none;

	background:none;

	padding-top:2px;

	padding-bottom:3px;

	padding-left:20px;

	padding-right:20px;

	text-align:center;

	

	border-radius:0px 10px 10px 0px;

	-moz-border-radius:0px 10px 10px 0px;

	-webkit-border-radius:0px 10px 10px 0px;

}



.isi_header .btn-cart{

	border:none;

	background:none;



}



button:focus {outline:0;}

