@charset "utf-8";
/* CSS Document */

.navbar-default{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-bottom:0px;
	color:#FFF;
	border:none;
	border-radius:0;	
}

.navbar-default .navbar-nav > li > a{
	padding:15px 10px 15px 10px;
	color:#FFF;
}

.navbar-default .navbar-header > a{
	padding:15px 10px 15px 10px;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:600;
	color:#FFF;
}

.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu  li > a:hover{
	color:#fff;
}

.navbar-default {
	/*background:#17105F;*/
	
  background-image: -webkit-linear-gradient(top, #17AD20 50%, #24f030 50%);
  background-image:      -o-linear-gradient(top, #17AD20 50%, #24f030 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#17AD20), to(#24f030));
  background-image:         linear-gradient(to bottom, #17AD20 30%, #3fa745 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff17AD20', endColorstr='#ff24f030', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
 
 /* -webkit-box-shadow: inset 0 5px 0 rgba(255, 255, 255, .15), 0 5px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 5px 0 rgba(255, 255, 255, .15), 0 5px 5px rgba(0, 0, 0, .075);*/

min-height:30px;
	/*border-bottom:solid 5px #34305e;*/
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #27AB2F;
}

.navbar-default .navbar-nav .open .dropdown-menu{
	background: #27AB2F;
	border:none;
}
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
	background-color: #27AB2F;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #56EB6F;
  }
  