/*
	CSS MAIN PAGE PRODUCT AND CATEGORY 
*/

.list-produk{
	margin-top:30px;
	padding:5px;
	
	
}

.list-produk > a{
	color:#000;
	text-decoration:none;
}

.list-produk-kotak{
	padding:10px;
	cursor:pointer;
	border:solid 1px #CCCCCC;
}

.list-produk-kotak:hover{
	
	
	
}

.list-produk img{
	
	width:160px;
	height:190px;
}

.list-produk-title{
	text-align:left;
	height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.list-produk-diskon{
	height: 10px;
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: line-through;
}

.list-produk-price{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size:16px;
	color:#F79C32;
}

.label-diskon{
	font: 700 14px/12px Arial, Helvetica, sans-serif;
    color: #fff;
    background: #6ad4ff;
    text-transform: uppercase;
    padding: 9px 0 7px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    width: 80px;
    text-align: center;
    display: block;
    position: absolute;
    left: -23px;
    top: 0px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.a-label-diskon{
	position: absolute;
    top: 5px;
    overflow: hidden;
    height: 60px;
    width: 60px;
    text-align: center;
    z-index: 0;
    left:5px;
}


/*
	CSS PRODUCT DETAIL
*/

.produk-beli{
	margin-top:20px;
}

.produk-beli > .title-produk{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:600;
	text-align:left;
}

.produk-beli > .kotak-beli{
	width:80%;
	border:solid 1px #CCCCCC;
	padding:20px;
	margin-top:20px;
}

.produk-beli > .kotak-beli > .kotak-beli-diskon{
	font: 14px Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	text-decoration: line-through;
}

.produk-beli > .kotak-beli > .kotak-beli-harga{
	font: 600 24px Arial, Helvetica, sans-serif;
	color: #F79C32;	
	margin-bottom: 10px;
}

.produk-beli > .kotak-beli > .kotak-beli-harga > .kotak-beli-detaildiskon{
	font: 600 14px Arial, Helvetica, sans-serif;
	border: solid 1px #F79C32;
	color: #F79C32;	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 10px;	
}

.produk-beli > .kotak-beli .kotak-beli-pesan{
	font-weight:600;
	margin-bottom:5px;
}

.produk-beli > .kotak-beli > .kotak-beli-pesan{
	font-weight:600;
	margin-bottom:5px;
	font-size:12px;
}

.produk-beli > .kotak-beli > .kotak-beli-jumlah{
	border:solid 1px #CCCCCC;
	font-weight:600;
	padding:10px;
	padding-left:20px;
	font-size:12px;
}

.produk-beli > .kotak-beli > .kotak-beli-jumlah > .jumlah-beli-control{
	border:solid 1px #CCCCCC;
	border-radius:5px;
	width:50px;
	padding:8px;
	margin-left:20px;
}

.produk-beli > .kotak-beli > button{
	margin-top:20px;
	width:100%;
	padding:5px;
	color:#FFF;
	font-weight:600;
	font-size:18px;
	background-color:#0A883C;
	border:none;
}