.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  
  border:solid 1px #CCCCCC;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin-bottom:10px;
}