/*@import url("non-responsive.css");*/
@import url("header.css");
@import url("navbar.css");
@import url("foother.css");

body{
	margin:0px;
	padding:0px;
}

#grve-wrapper{
	position: relative;
	left: 0;
	-webkit-box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
	visibility:hidden;
}

#header-title{
	height: 60px;	
	z-index: 2;
	width: 100%;
	position: relative;		
}

#header-title .title1{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	font-style: arial;
	float: left;
	padding: 10px 0px 0px 10px;
	vertical-align:middle;
}

#header-title .title2{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	font-style: arial;
	float: right;
	padding: 20px 10px 0px 0px;
}

#grve-feature-section{
	position: relative !important;
	top:20;height: 80px;width: 100%;
}

.kepaladaerah{
	width:250px; 
	padding:10px 10px; 	
	position:fixed; 
	left:0;	
	text-align:center; 
	color:#fff;
	background: #F3C807 ;
	overflow: hidden;
	z-index: 1;
}

.kepaladaerah .logo-sumut{
	margin-bottom: 10px;
	width: 70px;
}

.kepaladaerah .gambar-gubernur{
	width: 200px;background:#5ab33f;
}

.kepaladaerah .gambar-kadis{
	margin-top:10px;
	width: 100px;background:#e7bb1e;
}

.kepaladaerah p{
	font-size:11px;
}

#slide{
	position: fixed;
	left: 250px;
	height: 100%;
}

a.btn-class{
 display: table-cell;
 border: none;
 color: #FFFFFF;
 border-radius: 6px 6px 6px 6px;
 -webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 12px;
 padding: 5px;
 box-shadow: inset 0px 0px 0 0 #185701;
 -moz-box-shadow: inset 0px 0px 0 0 #185701;
 -webkit-box-shadow: inset 0px 0px 0 0 #185701;
 text-shadow: 0 1px 0 #81918F;
 background-image: linear-gradient(to bottom, #F3BD11, #C69A0A);
 background-color: #0B4A01;
 width: 100%;
 text-align: center;
 height: 50px;
 vertical-align: middle;
 text-decoration: none;
}

#grve-theme-body{
	position: relative;
	z-index: 2;
	background-color: #FFF;
	color: #000;
}

#grve-header{
	height: 50px!important;
	vertical-align: middle;
	background-color: #E90401;
	width: 100%;
	z-index: 9999;
	color:#fff;
}

#grve-header .selamat-datang{
	border-left: solid 10px #8B0000;
	height: 50px;
	padding-left: 5px;
	padding-top: 10px;	
	font-family: arial;
	font-size: 16px;
	float: left;
}

#grve-header .selamat-datang b{	
	font-size: 24px;
}

#grve-header .social-media{	
	padding-top: 10px;
	float: right;
	padding-right: 20px;
}

#grve-header .social-media img{	
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
}

#grve-header .social-media img.grve-menu-btn{
	background-color: #E90401;
	margin-left: 6px;
	cursor: pointer;
}


.banner-link{
	position: relative;
	background-color: #5AB33F;
	/*background: url(../images/bg.jpg);*/
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 35px 0px 20px 0px;
}

.banner-link img{
	cursor: pointer;	
}

#grve-main-menu{
	position: fixed;
	right: 0;
	width: 280px;
	z-index: 999;
	background-color: #00923F;
	display: none;
}


#grve-main-menu .grve-close-btn {
	cursor: pointer;
	float: right;
	margin: 20px 20px 0px 0px;
	padding: 11px;
	color: #FFF;
	background-color: #5ab33f;

}

#grve-main-menu  .main-menu{	
	width: 100%;
	overflow: hidden;
	position: relative;		
}

#grve-main-menu .main-menu > ul{	
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    padding-bottom: 40px;    
}

#grve-main-menu .main-menu ul{
	list-style: none;
	font-size: 11px;
	padding-left: 20px;	
}

#grve-main-menu .main-menu > ul > li{
	width: 260px;
	line-height: 2.5em;	
}

#grve-main-menu .main-menu ul li a{
	color: #FFF;
	text-decoration: none;	
}

#grve-main-menu .main-menu .grve-menu-item{
	position: relative;
}

#grve-main-menu .main-menu .grve-menu-item .grve-submenu{
	display: none;
}

#grve-main-menu .grve-mainmenu-btn{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	z-index: 1;
	background-image: url(../images/arrows.svg);
	background-position: 0 -60px;
	cursor: pointer;
}


#grve-main-menu  .active > .grve-mainmenu-btn {
	background-position: 0 -90px;
}

.body-content{
	background-color: #FFF;
}

.list-content ul{
		list-style: none;
		position: relative;
		padding: 0px;		
		overflow: hidden;
}

.list-content ul li{
	line-height: 1.4em;
	font-family: arial;
	font-size: 11px;		
	margin-bottom: 1em;
	position: relative;		
	padding: 0 0 0 20px;		
}

.list-content ul li:before {
	content: "\f105";
   	font-family: FontAwesome;
	width: 11px;
   	height: 10px;
   	line-height: 12px;
   	display: inline-block;
    text-align: center;
   	position: absolute;
   	left: 0px;
   	top: 0px;
}

.list-content ul li a{
	color: #000;
	text-decoration: none;
	font-size: 10px;
}

.statistik_content{
	margin-bottom: 20px;
}

.link_atas{
	padding: 20px 40px 20px 40px;
	background-color:#FFDF61;
}

.link_tengah{
	padding: 20px 40px 20px 40px;
	background-color:#FFDF61;
}

.link_atas a, .link_tengah a, .link_bawah a, .link_dinamis a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}

.button-link{
	width:100%;
	text-align:center;
	background:url(../images/flora.png) right bottom, #0D2D6C;
	background-repeat: no-repeat, repeat;	
	color:#FFF;
	padding:20px 10px 20px 10px;
	border-radius:10px;
}

#accordion a{
	font-size: 12px;
}

#accordion .panel-heading{
	padding: 10px;
}

#accordion .panel-heading > a{
	font-size: 11px;
	text-decoration: none;
	color: #000;
}

.content-main .grve-title-line > a{
	color: #000;
	text-decoration: none;
	line-height: 1em;
}